.gridContainer {
    display: grid;
    /* Tweek this size later*/
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    
}

.gridItem {
    text-align: center;
    cursor: pointer;
    height: fit-content;
    max-width: 20rem;
}

.itemImg {
    width: 100%;
    height: auto;
    box-shadow: var(--box-shadow);
    aspect-ratio: 3 / 4;

}

.itemImg:hover {
    transform: translateY(-0.1rem);
    scale: 1.01;
}

.imageContainer {
    position: relative;
}

.noImageTitle {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: normal;
    overflow: hidden;
    word-break: break-word;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.itemWithError:hover {
    transform: translateY(-0.1rem);
    scale: 1.01;
}

.itemWithError::before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}